<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Chatbot</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">SOURCE CODE(GitHub)</a></li>
                <li><a href="http://parthsarthee.com/">PARTH SARTHEE(Author)</a></li>
                <li><a href="http://aroxbit.com">AROXBIT(Awesome Indie Startup)</a></li>
            </ul>
        </nav>
        <h2>Chatbot</h2>
        <h3>sala de chat</h3>
        <input name="chat" >
        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
    </body>
</html>